$desktop: 1500px; 
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;
$BalkColor: rgba(13, 89, 114, 1);


body{
    font-family: 'Raleway';
    overflow: hidden;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

#headText
{
    font-size: 60px;
    color: rgb(13, 89, 114);
}

#LastLinkChild{
    border-right: none;
}

 #head{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -8px;
        margin-top: -8px;
        height: 15svh;
    }

#nav
{
     background-color: $BalkColor;
     margin-left: -8px;
     height: 5svh;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
}

a
{
    border-right: 1px solid black;
    text-decoration: none;
    color: white;
    width: 6vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover
{
    background-color: white;
    color: rgb(13, 89, 114);
 }

 // main

 #main{
    // border: solid lime;
    height: 60svh;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainBorder{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main h2{
    font-size: 4svh;
    font-weight: 700;
}

#main h2:first-child{
    margin-bottom: 5px;
}

.divsMain{
    // border: solid pink;
    width: 33vw;
    height: 60vh;
}

.divsMain:first-child{
    margin-left: -40px;
}

#navBarProjects{ 
    // border: solid green;
    border-right: solid 3px $BalkColor;
    height: 60vh;
    width: 8vw;
}

.linksDiv{
    // border: solid pink;
    border-bottom: solid 3px $BalkColor;
    width: 7.6vw;
    height: 6vh;
    padding-left: 10px;
}

.linksDiv:hover{
    background-color: $BalkColor;
    color: white;
}

#project1{
    display: flex;
    justify-content: left;
    align-items: center;
}

#project2{
    display: flex;
    justify-content: left;
    align-items: center;
}
 

/* footer */

#balk{
    background-color: rgb(13, 89, 114);;
    margin-left: -8px;
    height: 5svh;
}

#footer{
    // border: solid red;
    height: 15svh;
    background-color: white;
    margin-left: -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer a
{
    // border: solid red;
    color: black;
    // border: none;
    width: 100vw;
}

#footer p
{
    // border: solid red;
    width: 100vw;
    margin-block: 2px;
    text-align: center;
}

#email{
    margin-top: 5px;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1300px) and (min-width: $tablet)	
{

    a
    {
        width: 10vw;
    }
}

@media screen and (max-width: $tablet) and (min-width: $mobile)	
{
    #headText
    {
        font-size: 40px;
    }
    a
    {
        width: 17vw;
    }
    
}

@media screen and (max-width: $mobile)	
{

    a
    {
        height: 4.4vh;
        width: 30vw;
    }

    #mainBorder h2
    {
        font-size: 2.5svh;
    }
    
    #footer
    {
        height: 20svh;
    }
}