/* style sheet of login/index.php */
$BalkColor: rgba(13, 89, 114, 1);

#inlogDiv
{
    color: $BalkColor;
    background-color: white;
    border: solid white 2px;
    border-radius: 15px;
    height: 50vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inlogDiv h1
{
    margin-top: 4vh;
}


#username, #password, #login
{
    padding: 10px;
    margin-block: 20px;
    border: solid lightgray 2px;
    background-color: lightgray;
    width: 10vw;
}

#login
{
    width: 100%;
    border-radius: 15px;
}

#login:hover
{
    background-color: $BalkColor;
    border: $BalkColor;
    color: white;
}

#username:focus, #password:focus
{
    outline: none;
}

.linkies
{
    text-decoration: none;
    border: none;
    color: $BalkColor;
    width: 100%;
}