body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    width: 100svw;
    overflow: hidden;
    font-family: "Raleway";
}

form{
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
}

form div{
    /* border: solid blue; */
    height: 10vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form div div{
    /* border: solid green; */
    height: 5vh;
}

.knoppen{
    height: 5vh;
    width: 5vw;
    color: black;
    background-color: lightgrey;
    border: solid 1px lightgray;
    border-radius: 10px;
}

.knoppen:hover{
    background-color: grey;
    cursor: pointer;
    border: solid 1px grey;
    color: white;
}