body{
    overflow: scroll;
}

table{
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
}

#body{
    display: flex;
}

#outputselectvalue{
    border: solid 2px black;
    width: 40vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}